<div class="icon__copy">
	<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_2337_3280)">
			<path d="M16.2241 32.5001C12.319 32.5001 9.14062 29.3217 9.14062 25.4166V8.3335H6.22406C3.69568 8.3335 1.64062 10.3882 1.64062 12.9166V35.4166C1.64062 37.945 3.69568 40.0001 6.22406 40.0001H27.0572C29.5856 40.0001 31.6406 37.945 31.6406 35.4166V32.5001H16.2241Z" fill="#E4E4E4" />
			<path d="M38.3072 4.58344C38.3072 2.0517 36.2555 0 33.7241 0H16.2241C13.6923 0 11.6406 2.0517 11.6406 4.58344V25.4166C11.6406 27.9483 13.6923 30 16.2241 30H33.7241C36.2555 30 38.3072 27.9483 38.3072 25.4166V4.58344Z" fill="#E4E4E4" />
		</g>
		<defs>
			<clipPath id="clip0_2337_3280">
			<rect width="40" height="40" fill="white" />
			</clipPath>
		</defs>
	</svg>
</div>