<link rel="stylesheet" href="{{ 'mushroom-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'mushroom-menu-mobile.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="mushroom-menu ">
  <div class="mushroom-menu__container _container">
    {% if section.settings.show_header %}
      <header class="mushroom-menu__heading">
        <h2>{{ section.settings.heading }}</h2>
        <img src="{{ 'icon-mushroom.svg' | asset_url }}" alt="">
      </header>
    {% endif %}
    <div class="mushroom-menu__items">
      {% for block in section.blocks %}
        {% render 'mushroom-product', 
            product: all_products[block.settings.selected_product], 
            background_image: block.settings.background_image, 
            product_image: block.settings.product_image, 
            product_title: block.settings.product_title, 
            product_description: block.settings.product_description,
			shop_now_text: section.settings.shop_now_text,
			add_to_cart_text: section.settings.add_to_cart_text %}
      {% endfor %}
    </div>
  </div>
</section>
 
{% schema %}
{
  "name": "Mushroom Menu",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_header",
      "label": "Show Header",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Mushroom Menu",
      "info": "This field is shown only if 'Show Header' is enabled."
    },
    {
      "type": "collection",
      "id": "selected_collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "max_products",
      "label": "Maximum Products to Show",
      "default": 5,
      "min": 1,
      "max": 20
    },
    {
      "type": "text",
      "id": "add_to_cart_text",
      "label": "Add to Cart Button Text",
      "default": "Add to Cart"
    },
    {
      "type": "text",
      "id": "shop_now_text",
      "label": "Shop Now Button Text",
      "default": "Shop Now"
    }
  ],
  "blocks": [
    {
      "type": "mushroom_block",
      "name": "Mushroom Product Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
        {
          "type": "product",
          "id": "selected_product",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title"
        },
        {
          "type": "textarea",
          "id": "product_description",
          "label": "Product Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mushroom Menu",
      "blocks": [
        {
          "type": "mushroom_block"
        },
        {
          "type": "mushroom_block"
        }
      ]
    }
  ]
}
{% endschema %}