.about-mushroom {
    position: relative;
    overflow: hidden;
}

.about-mushroom__container {
    position: relative;
    display: flex;
    /* gap: 80px; */
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: #fff;
}

.about-mushroom__main-image {
    width: 48%;
}

.about-mushroom__content {
    padding: 80px 0 403px;
    flex: 38% 0 0;
}

.about-mushroom__heading {
    font-family: 'Coolvetica';
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-align: start;
}

.about-mushroom__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    margin-top: 40px;
    color: #9d9d9d;
}

.about-mushroom__text span {
    color: #fff;
}

.about-mushroom__black-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 55%;
    background-color: #000;
}

.about-mushroom__bg {
    position: absolute;
    bottom: -6%;
    right: -10%;
    width: 38%;
}

@media (max-width: 1260px) {
    .about-mushroom__black-bg {
        left: 45%;
    }
    .about-mushroom__content {
        flex: 48% 0 0;
    }
    .about-mushroom__main-image {
        width: 38%;
    }
}

@media (max-width: 1024px) {
    .about-mushroom__content {
        /* margin-bottom: ; */
    }
    .about-mushroom__main-image,
    .about-mushroom__black-bg {
        display: none;
    }
    .about-mushroom {
        background-color: #000;
    }
    .about-mushroom__content {
        flex: 100%;
        max-width: 618px;
    }
    .about-mushroom__heading {
        font-size: 56px;
    }
    .about-mushroom__bg {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .about-mushroom__bg {
        width: 100%;
    }
    .about-mushroom__content {
        padding-bottom: 60%;
    }
}

@media (max-width: 480px) {
    .about-mushroom__content {
        padding-bottom: 198px;
    }
    .about-mushroom__heading {
        font-size: 2.33rem;
    }
    .about-mushroom__text {
        font-size: 14px;
        margin-top: 24px;
    }
    .about-mushroom__bg {
        bottom: -4%;
        right: -8%;
        width: 346px;
    }
}
