.blog-page {
    position: relative;
    padding: 80px 0 220px;
}

.blog-page::after {
    content: '';
    display: block;
    width: 613px;
    height: 775px;
    background-image: url('kvitka.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.blog-page::before {
    content: '';
    display: block;
    width: 524px;
    height: 737px;
    background-image: url('grip.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 0;
}

.blog-page__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-page__container {
    position: relative;
    z-index: 1;
}

.blog-page__content {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.blog-page__content .chronicles__items {
    margin-top: 0;
}

.blog-page__tabs .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.blog-page__tabs .tabs .tab {
    padding: 11px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000;
    border-bottom: 2px solid #000;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.blog-page__tabs .tabs .tab:hover,
.blog-page__tabs .tabs .tab.active {
    color: var(--pink-main);
    border-bottom: 2px solid var(--pink-main);
}

.blog__item-large .blog__article .article {
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
}

.blog__item-large.reverse .blog__article .article {
    flex-direction: row;
    align-items: center;
}

.blog__item-large .blog__article .article .article__title {
    font-size: clamp(32px, 5vw, 64px);
}

.blog__item-large .blog__article .article .article__content {
    padding: 80px;
    gap: 40px;
}

.blog__item-large .blog__article .article .article__content {
    padding: 80px;
}

.blog__item-large .blog__article .article .article__reading-time {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: -15px;
    margin-top: 24px;
}
.blog__item-large .blog__article .article .article__image img {
    width: auto;
    height: 100%;
    max-width: none;
    max-height: 740px;
}
.blog__item-large .blog__article .article .article__image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog__item-large .blog__article .article > div {
    width: 100%;
    max-height: none;
}

@media (max-width: 992px) {
    .blog-page::after {
        display: none;
    }

    .blog-page::before {
        display: none;
    }
    .blog-page__content {
        gap: 140px;
    }
    .blog__item-large {
        margin-bottom: -60px;
    }
    .blog__item-large .blog__article .article {
        flex-direction: column;
    }
    .blog__item-large .chronicles__swiper-slide {
        max-width: 100%;
    }

    .blog__item-large.reverse .blog__article .article {
        flex-direction: column;
    }

    .blog__item-large .blog__article .article .article__content {
        padding: 0px;
        gap: 16px;
    }

    .blog__item-large .blog__article .article .article__content {
        padding: 0px;
    }

    .blog__item-large .blog__article .article .article__reading-time {
        margin-bottom: 0px;
    }
    .blog__item-large .blog__article .article .article__image img {
        width: auto;
        height: 100%;
        max-height: 500px;
    }
    .blog__item-large .blog__article .article > div {
        width: 100%;
    }

    .blog-page__content .chronicles__swiper {
        padding-bottom: 40px;
        /* margin-bottom: 40px; */
        margin-top: 0;
    }

    .blog-page .chronicles__swiper-button.slider-button {
        margin-top: 0px;
        bottom: -60px;
    }
}

@media (max-width: 992px) {
    .blog-page {
        padding: 40px 0 120px;
    }

    .blog-page__tabs .tabs {
        display: grid;
        justify-content: center;
    }

    .blog-page__tabs .tabs .tab {
        height: 100%;
        width: 100%;
        text-align: center;
        align-content: center;
        padding: 12px 18px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .chronicles__swiper-button-next img:last-child {
        transform: rotate(0deg) !important;
    }
}

@media (max-width: 650px) {
    .blog__item-large .blog__article .article .article__image img {
        max-height: 314px;
    }
}
