@media (max-width: 992px) {
    .hero__button .button__name {
        align-self: stretch;
    }

    .hero__button .button__jumper {
        width: 6px;
        height: 22px;
        margin: 0 -1px;
    }

    .hero__button .button__icon {
        padding: 8px;
    }

    .hero__heading {
        font-size: 52px;
        margin-top: -45px;
    }
    .hero__text {
        font-size: 14px;
    }
    .hero__mushroom {
        width: 200px;
    }
}

@media (max-width: 820px) {
    .hero {
        padding-top: 0;
    }
    .hero__bottles {
        position: relative;
        top: auto;
        right: auto;
    }

    .hero__bottles img {
        width: 100%;
        height: auto;
    }

    .hero__pink-bg {
        margin-top: -100px;
        transform: rotate(20deg) scale(-1);
        top: auto;
        right: -200px;
        left: -200px;
        width: calc(100% + 300px);
    }
    .hero__subtext {
        display: none;
    }
}

@media (max-width: 500px) {
    .hero__pink-bg {
        margin-top: -50px;
        transform: rotate(20deg) scale(-1);
        top: auto;
        right: -200px;
        left: -200px;
        width: calc(100% + 300px);
    }

    .hero__container {
        padding: 0 32px;
    }
}
