.show {
    padding: 200px 0;
}

.show__container {
}

.show__heading {
    font-size: 160px;
    font-family: 'Coolvetica';
    letter-spacing: -1.76px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.show__items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 38px;
}

.show__item {
    width: 100%;
    color: white;
    background-color: var(--pink-main);
    padding: 40px;
    position: relative;
    overflow: hidden;
}

.show__item:nth-child(2) {
    top: -98px;
}

.show__title {
    font-size: 82px;
    line-height: 1;
    letter-spacing: -0.902px;
    position: relative;
    z-index: 1;
    text-align: left;
}

.show__text {
    font-size: 22px;
    letter-spacing: 1.518px;
    margin-top: 70%;
    max-width: 256px;
}

.show__image {
    position: absolute;
}

.show__item:nth-child(1) .show__image {
    width: 62%;
    right: 0;
    top: 23%;
}

.show__item:nth-child(2) .show__image {
    width: 56%;
    right: -6.2%;
    top: 22.8%;
}

.show__item:nth-child(3) .show__image {
    width: 55.3%;
    right: -4.1%;
    top: 26.6%;
}
